
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/fonts/font-awesome.css">
    @RenderSection("Css", required: false)
</head>
<body>
    <div class="container-fluid">
        <div class="header">

        </div>
        @RenderBody();
        <div class="foooter">

        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @RenderSection("Script", required: false)
</body>
</html>


